@inject NavigationManager NavigationManager

<a href="" @onclick="GoToHome"
        class="Logo">
    Maew123
</a>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
