@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider
@inject IOrderService _saleService

<nav class="container-fluid main-header">
    <div class="nav-wrapper container">
        <!-- Left navbar links -->
        <li class="nav-item">
            <a class="nav-link SidebarButton" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <div class="nav-item">
            <Search />
        </div>
        <!-- Middle navbar links -->
        <li class="nav-item d-none d-sm-inline-block mx-auto">
            <HomeButton />
        </li>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto" style="display:flex; flex-direction:row;">
            <li class="nav-item">
                <CompareMenu />
            </li>
            <li class="nav-item">
                <CartMenu />
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-thin fa-user" style="color: #ffffff;"></i>
                            &nbsp; @DisplayName(context.User.Claims.ToList())
                        </a>
                        <ul class="dropdown-menu border-0 shadow">
                            <li><NavLink class="dropdown-item" href="UserInfo">บัญชีของฉัน</NavLink></li>
                            <li class="justify-content-center align-items-center d-flex"><NavLink class="dropdown-item" href="DeliveryStatus">การสั่งซื้อ
                                        
                                </NavLink></li>
                            <li><button class="dropdown-item" @onclick="Logout">ออกจากระบบ</button></li>

                            <AdminMenu />
                        </ul>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item dropdown" style="pa">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-thin fa-user" style="color: #ffffff;"></i>
                            &nbsp; เข้าสู่ระบบ
                        </a>
                        <ul class="dropdown-menu border-0 shadow">
                            <li><a class="dropdown-item" href="login?returnUrl=@NavigationManager.ToBaseRelativePath(NavigationManager.Uri)">เข้าสู่ระบบ</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><NavLink class="dropdown-item" href="Register">สมัครสมาชิก</NavLink></li>
                        </ul>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code {

    private string DisplayName(List<Claim> claims)
    {
        try
        {
            var fullname = claims.Where(u => u.Type.Equals("name")).Select(u => u.Value).FirstOrDefault();
            var roles = claims.Where(u => u.Type.Equals("http://schemas.microsoft.com/ws/2008/06/identity/claims/role", StringComparison.OrdinalIgnoreCase)).Select(u => u.Value).FirstOrDefault();
            if (roles!.Contains("Admin"))
            {
                fullname = $"{fullname}: {roles}";
            }
            return fullname!;
        }
        catch (Exception ex)
        {

            throw;
        }

    }

    private async Task Logout()
    {
        await AuthenticationService.LogoutAsync();
        await authStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("", forceLoad: true);
    }

}