.Centering {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .form-control{
        width: 200px;
    }
}
@media (max-width: 576px) {
    .form-control {
        width: 100px;
        height: 30px;
    }

    .input-group-append {
        height: 30px;
    }
}