.smallerbox {
    width: 20%
}

.mediumbox {
    width: 40%;
}

.subtract {
    width: 50px;
}
.Centering{
    display:flex;
    justify-content:center;
    align-items: center;
}
.search-filter-bar {
    width: 500px;
    padding: 30px 25px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
}

.search-button {
    font-size: 16px;
    width: 125px;
    height: 40px;
}

.btn {
    width: 200px;
    height: 40px;
}
