@page "/HowToChangePassword"
@inherits RegisterBase
@inject HttpClient Http
@inject NavigationManager navigationManager
<section class="content">
    <div class="container-fluid">
        <div class="box-container">
            <div class="box box-25">
                <div class="MenuHead">Help & Information</div>
                <div class="ArrangeBox">
                <div class="col-sm">
                <div class="MenuSubHead">ติดต่อเรา</div>
                <div class="MenuTC">
                            <a href="Contact" class="MenuText">ติดต่อเรา</a>
                    <a href="Contact" class="MenuTR">
                        <svg class="MenuIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="33" viewBox="0 0 19 33" fill="none">
                            <path d="M4 28.6946L14.1646 18.5299C15.3651 17.3295 15.3651 15.3651 14.1646 14.1647L4 4" stroke="#292D32" stroke-width="6.90062" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <div class="MenuTC">
                            <a href="AboutUs" class="MenuText">เกี่ยวกับร้าน maew123</a>
                    <a href="AboutUs" class="MenuTR">
                        <svg class="MenuIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="33" viewBox="0 0 19 33" fill="none">
                            <path d="M4 28.6946L14.1646 18.5299C15.3651 17.3295 15.3651 15.3651 14.1646 14.1647L4 4" stroke="#292D32" stroke-width="6.90062" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                </div>
                <div class="col-sm">
                <div class="MenuSubHead">ช้องปิ้งออนไลน์</div>
                <div class="MenuTC">
                    <a href="HowtoRegister" class="MenuText">วิธีสมัครสมาชิก</a>
                    <a href="HowtoRegister" class="MenuTR">
                        <svg class="MenuIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="33" viewBox="0 0 19 33" fill="none">
                            <path d="M4 28.6946L14.1646 18.5299C15.3651 17.3295 15.3651 15.3651 14.1646 14.1647L4 4" stroke="#292D32" stroke-width="6.90062" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <div class="MenuTC">
                    <a href="HowtoShopping" class="MenuText">วิธีการซื้อออนไลน์</a>
                    <a href="HowtoShopping" class="MenuTR">
                        <svg class="MenuIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="33" viewBox="0 0 19 33" fill="none">
                            <path d="M4 28.6946L14.1646 18.5299C15.3651 17.3295 15.3651 15.3651 14.1646 14.1647L4 4" stroke="#292D32" stroke-width="6.90062" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <div class="MenuTC">
                            <a href="HowtoChangePassword" class="MenuText" style="color:#00F">วิธีเปลี่ยนรหัสผ่าน</a>
                    <a href="HowtoChangePassword" class="MenuTR">
                        <svg class="MenuIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="33" viewBox="0 0 19 33" fill="none">
                            <path d="M4 28.6946L14.1646 18.5299C15.3651 17.3295 15.3651 15.3651 14.1646 14.1647L4 4" stroke="#292D32" stroke-width="6.90062" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <div class="MenuTC">
                    <a href="Transfer" class="MenuText">การจัดส่งสินค้าทางเรา</a>
                    <a href="Transfer" class="MenuTR">
                        <svg class="MenuIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="33" viewBox="0 0 19 33" fill="none">
                            <path d="M4 28.6946L14.1646 18.5299C15.3651 17.3295 15.3651 15.3651 14.1646 14.1647L4 4" stroke="#292D32" stroke-width="6.90062" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                </div>
                <div class="col-sm">
                <div class="MenuSubHead">นโยบายและข้อกำหนด</div>
                <div class="MenuTC">
                            <a href="TermAndCondition" class="MenuText">ข้อกำหนดและเงื่อนไข</a>
                    <a href="TermAndCondition" class="MenuTR">
                        <svg class="MenuIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="33" viewBox="0 0 19 33" fill="none">
                            <path d="M4 28.6946L14.1646 18.5299C15.3651 17.3295 15.3651 15.3651 14.1646 14.1647L4 4" stroke="#292D32" stroke-width="6.90062" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <div class="MenuTC">
                            <a href="PrivacyTerm" class="MenuText">นโยบายความเป็นส่วนตัว</a>
                    <a href="PrivacyTerm" class="MenuTR">
                        <svg class="MenuIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="33" viewBox="0 0 19 33" fill="none">
                            <path d="M4 28.6946L14.1646 18.5299C15.3651 17.3295 15.3651 15.3651 14.1646 14.1647L4 4" stroke="#292D32" stroke-width="6.90062" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                </div>
            </div>
            </div>
            

            <div class="box box-75 pb-4">
    <div class="ContentTitle">วิธีการตั้ง การเปลี่ยนหรือรีเซ็ตรหัสผ่านบนเว็บไซต์ maew123</div>
    <div class="ContentText col-12">
        <p style="color: #000;font-family: Inter;font-size: 26px;font-style: normal;font-weight: 800;line-height: normal;">การตั้งรหัสผ่านเพื่อเข้าใช้งานเว็บไซต์ maew123</p>
        <p>หลักเกณฑ์การตั้งรหัสผ่านเพื่อเข้าใช้งานเว็บไซต์มีดังนี้</p>
        <li>รหัสต้องมี อักขระขั้นต่ำ 8 ตัว</li>
        <li>ต้องประกอบด้วยตัวอักษรพิมพ์เล็ก (a-z) อย่างน้อยหนึ่งตัวอักษรตัวพิมพ์ใหญ่ (A-Z) หนึ่งตัวและตัวเลขหนึ่งตัว (0-9)</li>
        <p></p>
        <p style="color: #000;font-family: Inter;font-size: 26px;font-style: normal;font-weight: 800;line-height: normal;">การเปลี่ยนหรือรีเซ็ตรหัสผ่านเพื่อเข้าใช้งานเว็บไซต์ maew 123</p>
        <p>คุณสามารถเปลี่ยนรหัสผ่านด้วยเหตุผลด้านความปลอดภัยหรือรีเซ็ตรหัสผ่านหากลืมรหัสผ่านของตนเอง</p>
        <p>1.) เข้าหน้าเว็บไซต์ maew123 และเลือกเมนู “เข้าสู่ระบบ” ที่มุมขวาบนของหน้าเว็บไซต์</p>
        <p>2.) ในหน้าต่าง เข้าสู่ระบบ เลือกเมนู “ลืมรหัสผ่าน?”</p>
        <p>3.) แล้วทำการกรอกรหัสผ่านใหม่ของท่านแล้ว กดเปลี่ยนรหัสผ่าน เป็นอันเสร็จสิ้น</p>
    </div>
    </div>
    </div>
        </div><!-- /.container-fluid -->
</section>