<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>SWACLI</WebPublishMethod>
    <ResourceId>/subscriptions/cf226e78-9e18-4614-9721-deea336537a0/resourceGroups/vs2022Maew123/providers/Microsoft.Web/staticSites/Maew123Web</ResourceId>
    <ResourceGroup>vs2022Maew123</ResourceGroup>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>browser-wasm</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishProvider>AzureStaticSite</PublishProvider>
    <Environment>preview</Environment>
    <Source>None</Source>
    <OutputLocation>wwwroot</OutputLocation>
    <SiteUrlToLaunchAfterPublish>https://proud-bush-0bbdc4f00.5.azurestaticapps.net</SiteUrlToLaunchAfterPublish>
    <_TargetId>AzureStaticWebApp</_TargetId>
  </PropertyGroup>
</Project>