@inject ICartService CartService
<a @onclick="AddToCart" style="transition: transform 0.2s;">
    <i class="cart fa-solid fa-cart-plus mr-2"></i>
</a>

@code {
    [Parameter]
    public int ProductId{ get; set; }

    private async Task AddToCart()
    {
        var cartItem = new ItemQuantityDto
            {
                ProductId = ProductId,
                Quantity = 1
            };

        await CartService.AddToCart(cartItem);
    }
}
