a[b-b0vnt2z4bl] {
    color: black !important;
}

.media-img[b-b0vnt2z4bl] {
    border: 1px solid rgba(0, 0, 0, 0.30);
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
}

.media-img-wrapper[b-b0vnt2z4bl] {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.box-container[b-b0vnt2z4bl] {
    display: flex;
}

.box[b-b0vnt2z4bl] {
    box-sizing: border-box;
    padding-top: 20px;
}

.box-25[b-b0vnt2z4bl] {
    flex: 0 0 25%;
}

.box-75[b-b0vnt2z4bl] {
    flex: 0 0 75%;
}

.original-price[b-b0vnt2z4bl] {
    text-decoration: line-through;
}

.DetailContainer[b-b0vnt2z4bl] {
    display: flex;
    padding: 30px 25px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    margin-top: 20px;
    margin-right: 20px;
}

.DetailContent[b-b0vnt2z4bl] {
    flex: 1;
}

.DetailBox[b-b0vnt2z4bl] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.DetailName[b-b0vnt2z4bl] {
    font-size: 32px;
    font-weight: 700;
}

.DetailInfo[b-b0vnt2z4bl] {
    font-size: 20px;
}

.Remain[b-b0vnt2z4bl] {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.30);
}

.Spacing[b-b0vnt2z4bl] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cart-Button[b-b0vnt2z4bl] {
    width: 65%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #000030;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.5s;
}

    .Cart-Button:hover[b-b0vnt2z4bl] {
        transform: scale(1.05); /* Increase size on hover */
    }

.QuantityBox[b-b0vnt2z4bl] {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.4);
    text-align: center;
    margin-top: 20px;
}

.QuantityDisplay[b-b0vnt2z4bl] {
    font-size: 18px;
    font-weight: 700;
}

.QuantityButton[b-b0vnt2z4bl] {
    width: 80px;
    transition: transform 0.5s;
}

    .QuantityButton:hover[b-b0vnt2z4bl] {
        transform: scale(1.6); /* Increase size on hover */
    }

/*<-----------right side----------->*/
.SaleContainer[b-b0vnt2z4bl] {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    margin-top: 20px;
}

.SaleTitle[b-b0vnt2z4bl] {
    font-size: 24px;
    font-weight: 700;
}

.SaleDetail[b-b0vnt2z4bl] {
    font-size: 18px;
}

.Centering[b-b0vnt2z4bl] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redbox[b-b0vnt2z4bl] {
    margin-top: 10px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    color: white;
    border-radius: 10px;
    background: #FF0000;
}

@media (max-width: 1023.98px) {
    .media[b-b0vnt2z4bl] {
        flex-direction: column;
    }

    .media-img[b-b0vnt2z4bl] {
        max-width: 300px;
    }

    .media-img-wrapper[b-b0vnt2z4bl] {
        width: 100%;
        height: auto;
    }
}
