.box-container[b-ttu3nc1i69] {
    display: flex;
}

.box[b-ttu3nc1i69] {
    box-sizing: border-box;
    padding-top: 20px;
}

.box-20[b-ttu3nc1i69] {
    flex: 0 0 20%;
}

.box-80[b-ttu3nc1i69] {
    flex: 0 0 80%;
}

@media (max-width: 1199px) {
    .box-container[b-ttu3nc1i69] {
        flex-direction: column; /* Stack boxes vertically on smaller screens */
    }

    .box[b-ttu3nc1i69] {
        width: 100%; /* Take up full width on smaller screens */
    }

    .ArrangeBox[b-ttu3nc1i69] {
        display: flex;
    }
}






.MenuContainer[b-ttu3nc1i69] {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 705px;
    gap: 115px;
    flex-shrink: 0;
    /*    border: 1px solid #ccc;*/
}

.MenuHead[b-ttu3nc1i69] {
    padding-left: 5px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.MenuSubHead[b-ttu3nc1i69] {
    padding-bottom: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.MenuTC[b-ttu3nc1i69] {
    width: 100%;
    display: flex;
    align-items: center; /* Center items vertically */
}

.MenuText[b-ttu3nc1i69] {
    width: 80%;
    /*height: 52px;*/
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.5s ease;
    /*border: 1px solid #ccc;*/ /** Just to Know the space if it lean or miss position*/
}

    .MenuText:hover[b-ttu3nc1i69] {
        color: #00f;
    }

.MenuTR[b-ttu3nc1i69] {
    padding-bottom: 20px;
    width: 10%;
    justify-content: end;
}

.MenuIcon[b-ttu3nc1i69] {
    color: black;
    margin-top: -1px;
    width: 11px;
    height: 20px;
    flex-shrink: 0;
    stroke-width: 6.901px;
    stroke: #292D32;
    transition: color 0.25s ease;
}
.MenuIcon:hover[b-ttu3nc1i69] {
    color: #00f;
}

/*<-------------------right side---------------------->*/
.ContentTitle[b-ttu3nc1i69] {
    padding-left: 30px;
    padding-bottom: 30px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.ContentText[b-ttu3nc1i69] {
    padding-bottom: 20px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media(max-width:768px) {
    .ContentText[b-ttu3nc1i69] {
        font-size: 16px;
    }

    .[b-ttu3nc1i69]
}